body{
    margin:0;
    background:#000;
    color:#fff;
    font-family:Arial,sans-serif;
}

.hero{
    background:url("IMG-20251003-WA0008.jpg") center center/cover no-repeat;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.55);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
    box-sizing:border-box;
}

.hero h1{
    font-size:60px;
    color:#fff;
    margin:0;
    letter-spacing:5px;
}

.eslogan{
    font-size:24px;
    margin:20px 0 35px;
    font-style:italic;
}

.boton{
    background:#d40000;
    color:#fff;
    text-decoration:none;
    padding:18px 40px;
    border-radius:40px;
    font-size:22px;
    font-weight:bold;
}

.boton:hover{
    background:#ff0000;
}

section{
    padding:60px 20px;
}

h2{
    color:#d40000;
    text-align:center;
    font-size:34px;
}

p{
    font-size:18px;
}
